* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  max-width: 1258px;
  font-family: "Myriad Pro Regular", "Open Sans", sans-serif;
  margin: auto;
}

/* Header section*/
.nav-bar {
  margin: 20px auto;
}
.nav-bar_item {
  font-size: 15px;
  color: #949494;
  padding-right: 30px;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-bar_item:last-child {
  padding-right: 0px;
}
.separator {
  background-position: center center;
  background-image: url(../img/separator.png);
  width: 79px;
  height: 55px;
  position: relative;
  margin: 0px auto;
}

.separator::before {
  right: 70px;
  top: 50%;
}
.separator::after {
  left: 70px;
  top: 50%;
}
.separator::before,
.separator::after {
  content: "";
  width: 600px;
  height: 2px;
  background-color: #949494;
  position: absolute;
  opacity: 60%;
}

/*Main content*/
.section-recipes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5b5b5b;
  font-size: 35px;
  text-transform: uppercase;
  margin: 20px auto 25px;
  font-weight: 400;
}

.promo {
  background: url(../img/img__1.jpg);
  height: 470px;
  width: 623px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 19px;
}
.promo-2 {
  background: url(../img/img__2.jpg);
}
.promo_text-title {
  letter-spacing: 0.001em;
  font-size: 41px;
  margin: 12px 0px 57px 0px;
  position: relative;
}
.title-2 {
  max-width: 390px;
}

/* Рецепты*/
.menu-list {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 470px;
  margin: auto;
  background-color: #f1f1f1;
  border-radius: 20px;
  margin-bottom: 35px;
}
.res_menu-item {
  height: 41px;
  border-radius: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  color: #5b5b5b;
  width: 149px;
}
.res_menu-item:hover {
  background-color: #2f3032;
  transition: 0.4s;
  color: #fff;
}
.recipe-title {
  font-size: 18pt;
  font-weight: lighter;
  width: 290px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  color: #3d3d3d;
}
.recipe-all {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}
.recipe {
  display: flex;
  width: 623px;
}
.recipe-1 {
  width: 306px;
  background-image: url(../img/dugs_legs.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 308px;
}
.salad {
  background-image: url(../img/salad.png);
}
.img-author {
  margin-right: 7px;
}
.rec-author {
  padding: 15px;
  padding-bottom: 20px;
  color: #bcbcbc;
  display: flex;
  align-items: flex-end;
}
.rec-text {
  border-top: solid 2px #f3f3f3;
  border-right: solid 2px #f3f3f3;
  border-bottom: solid 2px #f3f3f3;
  padding-bottom: 0px;
  padding-top: 10px;
  width: 317px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.soc-icons:not(:last-child) {
  margin-right: 20px;
}
.soc-icons:last-child {
  margin-right: 15px;
}
.recipe-list {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.recipe-list_item {
  display: flex;
  box-sizing: content-box;
  font-size: 14px;
  border: solid 1px #e8e8e8;
  border-radius: 12px;
  color: #b5904e;
  width: 83px;
  justify-content: space-around;
  align-items: center;
  padding: 3px 4px;
}
.howdo {
  margin-bottom: auto;
  color: #5b5b5b;
  padding: 0px 8px;
}
.soc-media {
  border-top: solid 2px #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 49px;
}

.like {
  display: flex;
  justify-content: space-between;
  color: #5b5b5b;
  opacity: 70%;
  font-size: 15px;
}
.like-img {
  margin-right: 10px;
}
